* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

strong { font-weight: 700; }
p { margin-bottom: 1.2rem; }

/* Esconde conteúdo da tela, mas aparece no leitor de tela. */
.hidden-screen {
  position: absolute;
  font-size: 0;
}

.hidden-btn {
  margin-left: 1.2rem;
}

/* Esconde conteúdo da tela e do leitor de tela */
.dnone {
  display: none;
}

[aria-hidden="true"] {
  font-weight: 300;
  font-style: italic;
}

body {
  padding-top: 2.0rem; 
  background-color: #2C72C7;
}

.wrap {
  position: relative;
  margin: 3.0rem auto;
  padding: 2.5rem;
  width: 100%;
  max-width: 800px;
  font-size: 1.8rem;
  background-color: #fff;
  overflow: hidden;
}

.wrap-hidden:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.box {
  margin-top: 2.0rem;
  margin-bottom: 2.0rem;
}

.box-title {
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.box-img img {
  width: 100%;
  max-width: 100%;
}
.box-img figcaption { 
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
}

.link-referencia {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.4rem;
  text-align: center;
}